<DOCTYPE html>

<h1> Angular </h1>
<p> </p> 

<head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
 
</head>

<div ng-app="myApp" ng-controller="myCtrl">

   
    <div id="edit" contenteditable="true">
	Here is the element's original content
	</div>
</div>

 <%= form_tag(the_path, id: "search-form") do %>
       <%= text_field_tag :search, params[:search], placeholder: "Search Items" %>       
      <%= submit_tag "Search", :name => nil %> 
 <% end %>


<script type="text/javascript">


</script>
</DOCTYPE>