<DOCTYPE html>

<h1> Angular </h1>
<p> </p> 

<head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
 
</head>

<div ng-app="myApp" ng-controller="myCtrl">
<!--     Name: <input ng-model="name"> -->
    <h1>You entered: {{name}}</h1>
    <div id="edit" contenteditable="true">
	Here is the element's original content
	</div>
</div>




<script type="text/javascript">
	var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.name = "John Doe";

});

</script>
</DOCTYPE>