
<h1> C/C++</h1>

<p>
this is a <a href="http://www.cyberciti.biz/faq/howto-compile-and-run-c-cplusplus-code-in-linux/"> link</a> to show gcc exist or not and this is a <a href="http://www.radford.edu/~mhtay/CPSC120/VIM_Editor_Commands.htm"> link </a> for vim commands. 
</p>
<p>
	A good example about pointer and passing by refrence from <a href="http://stackoverflow.com/questions/2229498/passing-by-reference-in-c"> link </a>
</p>

<h3> struct vs class(c++) </h3>
	<p>

	struct defaults to public access and class defaults to private access.	When inheriting from them struct defaults to public inheritance and class defaults to private inheritance. So in class we have to mention it is puclic: 
	</p>
<pre class="prettyprint lang-c " >
#include<iostream.h>
#include<conio.h>
using namespace std;

main()
{

int hold;
int array[5];
cout&lt;&lt;"Enter 5 numbers:" &lt;&lt;endl;
for(int i=0; i<5; i++) { cin>>array[i];
}
cout&lt;&lt;endl;
cout&lt;&lt;"Orignally entered array by the user is: "&lt;&lt;endl;

for(int j=0; j<5; j++)
{
cout<<array[j];
cout<<endl;
}
cout<<endl;
for(int i=0; i<4; i++)
{
for(int j=0; j<4; j++) { if(array[j]>array[j+1])
{
hold=array[j];
array[j]=array[j+1];
array[j+1]=hold;
}
}
}
cout&lt;&lt;"Sorted Array is: "&lt;&lt;endl;
for(int i=0; i<5; i++)
{
cout&lt;&lt;array[i]&lt;&lt;endl;
}

getch();
}
</pre>



<h2> IT Security</h2>
<p><strong>Firewall: </strong> A firewall is a hardware or software based mechanism that controls incoming and outgoing traffic based on a set of rules that either permit or deny traffic on a network or host </p>
<p><strong>packet inspection </strong>Early firwalls checks Source and destination address, protocls and ports. </p>
<p><strong>Stateful inspection</strong> once a new connection created firewal checks security policy. if there is an existing connection it checks the transition table and update the table. Challenges are stateless protocols- UDP and ICMP.  </p>
<h4>Classes of Firewall </h4>
<li>  <strong> Class 1: Host based firewall. </strong> set up on laptop or desktop computers. It supports Packet and Statefull inspection(filtering) and some offers Network address transition. HTTPS and DNS can set to allow specific applications. </li>
<li><strong>Class 2: router Firewell:</strong>
 that block and allow certain IP addresses and port numbers and use network address translation to mask private IP addresses
 </li>
 <li><strong> Class 3 Firewall:</strong>
Low end hardware firewall.  Plug and play units which also have swtiching and some VPN functionality. Some remote management is also available.  
  </li>
  <li><strong> Class 4 High end server firewall</strong>  Provide critical infrastructure environment. </li>
<li><strong>Class 5 High end server firewall</strong> 
 </li>


 <h3> Unified Thread Management (UTM)</h3>
<p>is refered to next generation firewall which provides Firewall, intrusion prevention, antivirus, data loss prevention and content filtering </p>

<h3>Secure Content Management </h3>
<p> Filters email and web-based traffic and analyse potential risks, spyware, spam and phishing attacks. For example if inside the email was a password or sin number, this email wont go through</p>

<h3> Network Access protection </h3>
<p> Check the status of windows client's update. If the device found to be non-compliant it may have restricted access from joining the network </p>







