
<p>
The starting is from <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/"
> this</a>
</p>
<p>
A practice for my site <a href="https://www.en.advertisercommunity.com/t5/Google-Analytics/ct-p/Google_Analytics"> this </a>
</p>