
<!DOCTYPE html>
 <script>
// $(window).load(function(){
//   while (1){
//   console.log("S_");
//      }
// });
 </script>



<html lang="en">
<head>
  <title>jj Hair Salon App</title>
</head>

<body>

<h2> JJ Hair Salon App </h2>


<div class="col-md-3">
<img src=" <%= asset_path('1.png') %>" height="10%" width="10%">>



</div>
<div class="col-md-3">
<img src=" <%= asset_path('2.png') %>" height="10%" width="10%">
</div>
<div class="col-md-3">
<img src=" <%= asset_path('3.png') %>" >
</div>
<div class="col-md-3">
</div>

<div class="col-md-12">
</div>
<div class="col-md-9">
<h4>About </h4>

<p> JJ Hair Salon app is a full service hari salon dedicated to providing excellent service and quality 
treatment at great value. It is a freindly professional salon and experienced commited to providing you 
the ravishing hairdo of your desire.
 </p>
</div>


</body>