          
<style>  
h1,h2,h3
  {
  	font-family: 'Slabo 27px', serif;
  }
  p
  {
  	font-family: 'Lora', serif;
  }
</style>

<h2 id="title"> JavaScript </h2>

<h2> jQuery </h2>

<p>
	Adjust width of screen and send the width to a function which select specific stylesheet or even can select different contents and renders to the page.
</p>

<pre class="prettyprint lang-jquery " >
  $(function()
     adjuststyle($(this).width());
     $(window).resize(function ()
         {
        adjuststyle($(this).width());
         });
  });
</pre>
adjuststyle function
<pre class="prettyprint lang-jquery " >
   function adjuststyle(x)
   {
   width = ParseInt(x);
    if (width <970)
	   {
	     $("#defaut-stylesheet").attr("href", "css/style_3.css");
	   }
	     else  if (width <1229)
	   {
	     $("#defaut-stylesheet").attr("href", "css/style_2.css");
	   }
   
   }
&ltlink id="defaut-stylesheet" rel="stylesheet" type="text/css" href="css/style_1.css" />
</pre>


<h3> Pop up boostrap</h3> 
 <pre class="prettyprint lang-javascript" >
         &lt!-- Modal -->
        &ltdiv class="modal fade" id="myModal" role="dialog">
        &ltdiv class="modal-dialog">
       &lt!-- Modal content-->
        &ltimg src="images/pcm_guidline_pop.png" alt="Smiley face" style="width:105%;height:40%;">
      &lt/div>
        &lt/div>
       &lt!--End of  Modal content-->
  </pre>
<p>
css attribute selectors: 
</p>
<pre class="prettyprint lang-javascript" >
$("p").css({"background-color": "yellow", "font-size": "200%"});
</pre>

<p> Find the specific row and column in a table and change the color by adding a style class 
like this <a hre="http://jsfiddle.net/ZZYD4/">example </a> and <a href="http://jsfiddle.net/simevidas/qJ3tP/1/"> this </a> for a tabale 
</p>
<pre class="prettyprint lang-javascript" >
$('#mytable tr:eq(0) td:eq(1)').addClass('red');
</pre>

<style>
*:hover
{
  text-decoration: none !important;
}
</style>

<h3> append in jquery and remove </h3>
<ul >
  <li class="yup">Milk</li>
  <li class="yup">Bread</li>
  <li class="yup">Chips</li>
  <li class="yup">Socks</li>
</ul>
  
  <script>
$( ".yup" ).hover(
  function() {
    $( this ).append( $( "<span> ***</span>" ) );
     $( this ).append( $( "<li> __ || __ </li>" ) );
   
  }, function() {
    $( this ).find( "li:last" ).remove();
     console.log("CC"+$(this));
  }
);
  </script>

<pre class="prettyprint lang-html" >
&ltul&gt
  &ltli&gtMilk&lt/li&gt
  &ltli&gtBread&lt/li&gt
  &ltli&gtChips&lt/li&gt
  &ltli&gtSocks&lt/li&gt
&lt/ul&gt
  
  &ltscript&gt
$( "li" ).hover(
  function() {
    $( this ).append( $( " &ltspan&gt *** &lt/span&gt" ) );
     $( this ).append( $( " &ltli&gt __ || __ &lt/li&gt" ) );
    console.log($(this));
  }, function() {
    $( this ).find( "li:last" ).remove();
  }
);
  &lt/script&gt
</pre>







<h1> JavaScript </p>
<h3>Stak vs Queue </h3>
<p>
	stack is FILA and queue is FIFO
</p>
<pre class="prettyprint lang-c " >
stack= [];
stack.push(2);stack.push(4);
i = stack.pop(); 
results:  i = 4 and stack = [2]

queue = [];
queue.push(2);queue.push(6);
i = stack.pop(); 
results:  i = 2 and stack = [6]
</pre>
<P>
 An asynchronous call ,AJAX, completes after function has returned its value, so we can not return the ajax call result  before all funtions has been completed on the web page. (Ajax is always the last one be completed)
</p>

<p> 
  to find the content of an string inside another string using mystring.indexOf("a") !== -1.
</p>

<p> find an element and dump everything before that char, it finds the place of char then give a substring from 0 untill that char accured </p>
<pre class="prettyprint lang-javascript" >
var s = '/Controller/Action?id=11112&value=4444';
s = s.substring(0, s.indexOf('?'));
document.write(s);
output:
/Controller/Action
</pre>



<pre class="prettyprint lang-javascript" >
Change (overwrite) the text value of an HTML element:
$("selector").text("New text")
Change (append) the text value of an HTML element:
$("selector").append("additional text")
Clear the text value of an HTML element:
$("selector").empty()
Read the text of an HTML element:
$value = $("selector").text()
Read the attribute of an HTML element:
$value = $("selector").attr("attributeName")
Write the attribute value of an HTML element:
$("selector").attr("attributeName", "attributeValue")
Read the value of a form input element:
$value = $("selector").val()
Read the value of a form checkbox or radio button:
//true if checked, false if not
$trueOrFalse = $("selector").is(":checked")
Write a value to a form input element:
$("selector").val("New value")
Change (overwrite) the HTML value of an element (eg: add new child elements):
$("selector").html("&ltp>New html content&lt/p>")

</pre>


<h1> Angular </h1>

<p> a simple mirroring input function, you should add cdn first to your dom </p>



<pre class="prettyprint lang-javascript" >
&ltscript src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
//then add this into your body
&ltdiv ng-app="">
&ltinput type="text" ng-model="name" placeholder="Enter name here">
&lth1>Hello {{name}}</h1>
&lt/div>
</pre>

<h2> Ajax </h2>
<pre class="prettyprint lang-javascript" >

 function me(sku)
           {
              $.post("http://www.bcliquorstores.com/product/"+sku,  
                        {
                          send_one_variable: getElementById("example").value,      
                        }
                       function(data)
                        {   
                        arr1 = data.split(",");
                        console.log("here is resultss: "+arr1[0]);
                        }
                  ); 
         }
</pre>


   
    
    
    