

<h2>VIM </h2>

<h3>find a word </h3>
<p> you can move cursor on any word then press * to find all </p>
<p> type ? or / then the word you want to search, 3/amir will search for the third occurance of amir in text </p>
<p> search with decimal or hex, searching with /\%d65 or with /\%x41 both find 'A' (character decimal 65 = hex 41),</p>
<p>  
vim ~/.vimrc
To use the desert colorscheme just add these lines to your vimrc file:
colo desert
syntax on
</p>
<p>
renaming a file is : mv firsname secondname
</p>
<p>
Runing an .exe file: ./amir.exe .Create a file : touch newfile. Creat directory: mk newfolder.
</p>

<P> Mounting a filesystem means make it accessible in specific subfiles or directory </P>
<p> Chmod means change the accessiblily or lock/unock a file  </p>
<p> to access a pachakge we use ls -qf /etc/pack returns all /etc/pacj </p>

