

<h2>VIM </h2>

<h3>find a word </h3>
<p> you can move cursor on any word then press * to find all </p>
<p> type ? or / then the word you want to search, 3/amir will search for the third occurance of amir in text </p>
<p> search with decimal or hex, searching with /\%d65 or with /\%x41 both find 'A' (character decimal 65 = hex 41),</p>
<p>  
vim ~/.vimrc
To use the desert colorscheme just add these lines to your vimrc file:
colo desert
syntax on
</p>