  <html>
  <!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
  <!--////////////////////////////////////////////////////////////// PCMs Contact Page /////////////////////////////////////////////////////////////////////////////-->
  <!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
		<head>
		<title>MC</title>
		
     <!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
		<!-- split at <title> -->
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>

   </head>
   	<!--#include file="header.ssi" --> 
   <!------------------------------------------------------------------ Header ----------------------------------------------------------------------------------------------->
   <!------------------------------------------------------------------ Header ----------------------------------------------------------------------------------------------->
   <!------------------------------------------------------------------ Header ----------------------------------------------------------------------------------------------->
  

	<!--	<div class="col-md-2">
	<!--	<a href="http://www.bcliquorstores.com" target="_blank"><img src="/images/logo_bcls.gif" width="119%" height="9%"  border="0" alt="BC Liquor Stores external web site" 
		style="margin:-1px -10% 0px -8%;  border-radius: 0px 0px 5px 5px;"></a>
		
		
	<img  src="/images/bg_pic.png" width="80%" height="9%"  style="margin-left: -9%; border-radius: 5px 0px 13px 13px;">
	</div>
		<div class="col-md-10">
              <img  src="/images/bg_pic.png" width="103%" height="9%"  style="margin-left: -12%; border-radius: 5px 0px 13px 13px;">
			  <p style="position:relative; left: 3%; top: -18px; color: white; ">Head Office Intranet<p>
			  <div id="time"> dd</div>
			  <div id="year"> dd</div>
			  <script>
				 
					var dayNames = new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday");
                    var monthNames = new Array("January","February","March","April","May","June","July","August","September","October","November","December");
                    var now = new Date();
				    $("#time").html(dayNames[now.getDay()] + ", " + monthNames[now.getMonth()] +" " + now.getDate() + ", ");
					
          			if (now.getYear() > 1000) {
					$("#year").html(now.getYear());
					} else {
					$("#year").html(now.getYear() + 1900);
					}
			  </script>
		</div>
   <!------------------------------------------------------------------ Header ----------------------------------------------------------------------------------------------->
   <!------------------------------------------------------------------ Header ----------------------------------------------------------------------------------------------->
   <!------------------------------------------------------------------ Header ------------------------------------------------------------------------------------------------------>
  
  <style>
	body 
	{
	background-color: #D1D1E0;
	}
	.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

 .col-md-12  a:hover, .col-md-3  a:hover
   {
    font-weight: normal;
   }
  .col-md-1 a
   {
   font-size:82%;
   color: black;
   
   }
     .col-md-1 a:hover
   {
   color: grey;
   }  
   footer
   {
   margin-bottom: 10%;
   }
 #title
 {
 color: #0099FF;
 font-weight: bold;
 font-size: 210%;
 text-shadow: 6px 6px 2px rgba(150, 150, 150, 0.53);
 margin-bottom: 4%;
 }
 
   
	</style>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>MC</title>
		
	<div class="container" style="background-color: white;">
	<div class="col-md-5">
	<br>
     	<div id="title" ><center>Microsoft Home Use Program </center></div>
	</div>	
	<div class="col-md-7">
    </div>	
	<div class="col-md-12">  <legend> </legend>
    </div>	
		<div class="col-md-3">
		<nav class="navbar navbar-default">
	        <ul class="nav nav-pills nav-stacked ">
				<li class=" " role="presentation">  <a href="#"  onclick="me('home')"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>  is the Home Use Offer</a></li>
				<li class=" " role="presentation"><a href="#"  onclick="me('included')"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>  What's included in the Office Suite</a></li>
				<li class=" " role="presentation"><a href="#"  onclick="me('need')"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>  What you need to know</a></li>
				<li class=" "  role="presentation"><a href="#"  onclick="me('down')"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>  How do I download</a></li>
				<li class=" " role="presentation"><a href="#" onclick="me('faq')"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>  FAQ</a></li>
				<li role="presentation"><a href="https://technet.microsoft.com/en-us/library/ee624351.aspx"  target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>  System requirements for PC</a></li>
				<li role="presentation"><a href="https://products.office.com/en-us/mac/microsoft-office-for-mac" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>  System requirements for Mac</a></li>
				<li role="presentation"><a href=""><span class="glyphicon glyphicon-save" aria-hidden="true"></span>  Home Use Learner's Guide (PDF)</a></li>
			</ul>
			
		</nav>
		<a href="https://hup.microsoft.com/" class="btn btn-success btn-lg"> 
		
		 <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> 
		Download</a>
		</div>
		<div class="col-md-9">
	       <div class="col-md-12" style="position:relative;">
		 <!--  <img src="/assets/microsoft_icon.png" align="right"> -->
		 <%= image_tag("microsoft_logo.png", align: "right") %>
	       <h2>What is the Home Use Offer?</h2>
		   <p>
		   The Office Professional Plus 2013 Home Use Program is an employee benefit that is included as part of the LDB’s licensing agreement with Microsoft for the Head Office computer software. Head Office employees who use Microsoft software in the course of their work can buy a copy of Office Professional Plus 2013 to install on one home computer and one personal laptop for only $11.
		   </p>
		   <p>
		   Your eligibility to license a given software title under this offer is conditioned upon your status as a user of a single licensed copy of the software within your organization. This single licensed copy allows the installation of the software on<b> one </b> home desktop <b> and one </b> home laptop per Head Office employee.
		   </p>
		   <div class="alert alert-warning" role="alert">
		   Note: <br>
Contractors are <font color="red"> not </font> eligible to participate. <br>
Store employees are  <font color="red"> not </font>eligible to participate.  Warehouse workers who do not have a Microsoft license are not eligible to participate
		   </div>
		   <p>
		   Once you've reviewed all the information and you're ready to proceed, click on the <b>Download</b> button. You will be prompted for your <b>LDB email address</b> (i.e. <a href="mailto:first.lastname@bcldb.com "><font color="red">first.lastname@bcldb.com</font> </a>) and the Program code <b>DA25E5A673</b>.
		   </p>
		   <p>
		   When you are successfully registered you will receive an email in your Outlook Inbox from HUP. Once you receive that email you can proceed with the download and installation of the software at home.
		   </p>
		   <p>
		   If you encounter problems or have questions with the purchasing process, download of the software or the install process, you can email Digital River at:
		   </p>
		   <a href="https://www.microsofthup.com/hupca/contactus.aspx">Contact Us </a> or call them at : 1-877-237-3165
		</div>
		</div>
		<div class="col-md-12"><br><br><br> <br> <br> </div>
	   <legend> </legend>	
	<!--	 <footer  class="footer">
       <legend> </legend>
		  <div class="col-md-2"> </div>
	      <div class="col-md-1"> <a href="http://isportal/sitemap">Site Map  </a></div>
		  <div class="col-md-1"> <a href="http://isportal/form/contact-us"> Contact Us</a></div>
		  <div class="col-md-1"> <a href="http://isportal/copyright">   Copyright </a></div>
       	  <div class="col-md-1"> <a href="http://isportal/privacy">Privacy </a></div>
		  <div class="col-md-1"><a href="http://isportal/disclaimer"> Disclaimer  </a> </div>
	      <div class="col-md-1"> <a href="http://isportal/accessibility"> Accessibility </a></div>
	      <div class="col-md-1"><a href="http://isportal/term-use">Term of Use  </a> </div>
	      <div class="col-md-1"> <a href="http://isportal/about-us"> About Us  </a></div>
	   	  <div class="col-md-1"> <div style="font-size:82%;">10.01.95</div> </div>
		  
   </footer>
	-->
 
	
   </body>
   
 
 </html>
 <script>
     $( document ).ready(function() {
       me('home');
        });
 
      function me(x){
                $.post("mc_"+x+"",  
                        { 
                        	// crossDomain: true,
                        },
                        function(data)
                          { 
                      var ss = data.split(",,");   						  
              $("#con").html(ss[1]); 
			  $("#title").html("<center>"+ss[0]+"</center>");
			  $(this).addClass('active');
                            });
                       }
 </script>

	