 
Microsoft Home Use Program ,,
	
	
	<div class="col-md-12">
    </div>	
	
		<div class="col-md-12" style="position:relative;">
		  <img src="/images/microsoft_icon.png" align="right">
	       <h2>What is the Home Use Offer?</h2>
		   <p>
		   The Office Professional Plus 2013 Home Use Program is an employee benefit that is included as part of the LDB’s licensing agreement with Microsoft for the Head Office computer software. Head Office employees who use Microsoft software in the course of their work can buy a copy of Office Professional Plus 2013 to install on one home computer and one personal laptop for only $11.
		   </p>
		   <p>
		   Your eligibility to license a given software title under this offer is conditioned upon your status as a user of a single licensed copy of the software within your organization. This single licensed copy allows the installation of the software on<b> one </b> home desktop <b> and one </b> home laptop per Head Office employee.
		   </p>
		   <div class="alert alert-warning" role="alert">
		   Note: <br>
Contractors are <font color="red"> not </font> eligible to participate. <br>
Store employees are  <font color="red"> not </font>eligible to participate.  Warehouse workers who do not have a Microsoft license are not eligible to participate
		   </div>
		   <p>
		   Once you've reviewed all the information and you're ready to proceed, click on the <b>Download</b> button. You will be prompted for your <b>LDB email address</b> (i.e. <a href="mailto:first.lastname@bcldb.com "><font color="red">first.lastname@bcldb.com</font> </a>) and the Program code <b>DA25E5A673</b>.
		   </p>
		   <p>
		   When you are successfully registered you will receive an email in your Outlook Inbox from HUP. Once you receive that email you can proceed with the download and installation of the software at home.
		   </p>
		   <p>
		   If you encounter problems or have questions with the purchasing process, download of the software or the install process, you can email Digital River at:
		   </p>
		   <a href="https://www.microsofthup.com/hupca/contactus.aspx">Contact Us </a> or call them at : 1-877-237-3165
		</div>
   
 

	