

<img src=" <%= asset_path('funny_group.jpg') %>" >
<h2> Database Management Systesm </h2>
<p> <b>Oracle,
,Microsoft SQL Server
,MySQL (Open source)
,Sybase
,Postgre SQL
,Informix
,DB2 </b></p>
<h1> Oracle </h1>
<h3 class="title"> Set out put</h3>
<p class="code">with below codes we can check the size and set it to customized version</p>
<pre class="prettyprint lang-sql">
show linesize;
show pagesize;
set pagesize  150;
set linesize 140; 
</pre>



<p> Relational database presents our data into a collection of tables.</p>
<p> Using sql developer as a tool to collect data from database</p>


<p>Database server parse our queries we asked, it sort the data and retrive, there is also a job scheduler to determie who has passed the what.  </p>
<p> Structure Query Language </p>


<h3> DML </h3>
<p> data manipulation language, everything facing with data deletign inserting, select, update  </p>

<h3> DDL </h3>
<p> 
data defination language, change the structure of database
alter table, truncate, drop table
</p>

<h3> DCL </h3>
<p> 
data control language has to do with access and permission
who is allow to things
</p>

<>TCL
<p>Transacttion, support for example transfering someone  money from one account to another, it can not be done at the same time. Transaction can be a logical operation inside the database, Transaction should be all or nothing. All are happened or noneof them happened. It meanes our commit can rollback and save it. </p>

<p> We always can rollback DML but you can not rollback DDL.</p>

40 next topic

<p> </p> 
