

<img src=" <%= asset_path('funny_group.jpg') %>" >
<h1> Oracle </h1>
<h3 class="title"> Set out put</h3>
<p class="code">with below codes we can check the size and set it to customized version</p>
<pre class="prettyprint lang-sql">
show linesize;
show pagesize;
set pagesize  150;
set linesize 140; 
</pre>