

<img src=" <%= asset_path('funny_group.jpg') %>" >

<h2> Different Usage of Databases</h2>
<li>Online Transaction Processing- OLTP. It uses for checking the data transactions </li>
<li> Online Analytical Processing. It uses for analyzing the data like Google Analytic </li>

<h2> Types of Database</h2>
<li> Relational database management system</li>
<li> Object database management system</li>
<li> Multi dimentional database management system</li>


<h2> Database Management Systems </h2>
<p> <b>Oracle,
,Microsoft SQL Server
,MySQL (Open source)
,Sybase
,Postgre SQL
,Informix
,DB2 </b></p>
<p><b> Each Database management system has two parts: </b> </p>
<li> Server components. One part is database engine to comunicatie with database to parse, retrive. Another part is job schedualer in order to find who has done what on database and another part is finding most effiecient way to retrive data </li>
<li> Client components. Tools for querying data like SQL DEVELOPER.</li>
<legend> </legend>
<h2> Subsets of SQL </h2>
<li>  Data manipulation language.  It works with data and we can rollback or undo them  SELECT, INSERT, UPDATE, and DELETE
</li>
<li>  Data defination language. It changes the structure of database and we can not rollback them  CREATE, ALTER, DROP(to remove a table) and TRUNCATE(to wipe off all data on a table)
</li>
<li>  Data control language. It changes the access to database, who is allow to see what, same as GRANT REVOKE and DENY
</li>
<li>  Transaction control language COMMIT, ROLLBACK, SAVEPOINT. Transaction is logical operation with sql. Like an account transfering from one person's account to another. It requires two steps.
<li> Update one account to retrieve data from it</li>
<li> Then another update to the person who wanted to tranfer money to</li>
<p> We can not do these two steps at once. So these two update statement (DML statement) create one transaction. Transaction has to all DML statement happen or none of them therefore there is rollback in each transaction. </p>
 </li>

<legen> </legen>
<P> <b>Entity</b> is the object which has several attributes or columns. Common entities are customer, user, client, product which each one is a table. <p>
<P> <b> Tuples or Records </b>  is a complete collection of data. It means an entire row holding information about one thing. </P>



<h1> Oracle </h1>


<h3 class="title"> Set out put</h3>
<p class="code">with below codes we can check the size and set it to customized version</p>
<pre class="prettyprint lang-sql">
show linesize;
show pagesize;
set pagesize  150;
set linesize 140; 
</pre>




<p> Relational database presents our data into a collection of tables.</p>
<p> Using sql developer as a tool to collect data from database</p>


<p>Database server parse our queries we asked, it sort the data and retrive, there is also a job scheduler to determie who has passed the what.  </p>
<p> Structure Query Language </p>


<h3> DML </h3>
<p> data manipulation language, everything facing with data deletign inserting, select, update  </p>

<h3> DDL </h3>
<p> 
data defination language, change the structure of database
alter table, truncate, drop table
</p>

<h3> DCL </h3>
<p> 
data control language has to do with access and permission
who is allow to things
</p>

<>TCL
<p>Transacttion, support for example transfering someone  money from one account to another, it can not be done at the same time. Transaction can be a logical operation inside the database, Transaction should be all or nothing. All are happened or noneof them happened. It meanes our commit can rollback and save it. </p>

<p> We always can rollback DML but you can not rollback DDL.</p>

40 next topic

<p> </p> 
