  <html>
  <!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
  <!--////////////////////////////////////////////////////////////// PCMs Contact Page /////////////////////////////////////////////////////////////////////////////-->
  <!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
		<head>
		<title>PCMs Contacts</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="icon" type="image/gif" href="images/graph_1.png" />

		<LINK REL="SHORTCUT ICON" HREF="http://www.degraeve.com/favicon/">
		  <link rel="stylesheet" type="text/css" href="css/global.css" />
		<script language="javascript" type="text/javascript" src="/js/browserdetect_lite.js"></script>
		<script language="javascript" type="text/javascript" src="/js/netcssfix.js"></script>
		<script language="javascript" type="text/javascript" src="/js/writeinput.js"></script>
		<script language="javascript" type="text/javascript" src="/js/css_adjustment.js"></script>
		<script language="javascript" type="text/javascript" src="/js/select_banners.js"></script>
     <!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
		<!-- split at <title> -->
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
		<script language="javascript" type="text/javascript">
       
      
		  
		<!--
		function MM_jumpMenu(targ,selObj,restore){ //v3.0
		  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
		  if (restore) selObj.selectedIndex=0;
		}
		//-->
	
		
	</script>
   </head>
 
 <link id="size-stylesheet" rel="stylesheet" type="text/css"  href="css/pcm_style.css" />
 	<style>

	
	  div#right_nav 
		   {
           padding-right: 3%;
		   padding-left: 0px;
		   margin-left: 1%;
		   
          }
  
    td a 
      {
	font-size: 110%;
    
	}	
	
	.panel-body
		{
			font-size: 90%;
		}
	
	section 
		{
			margin-top: 0%;
			border-style:none;
		}
	h2{
		font-family: georgia;
	
	}
	.col-md-4 
	{
	
	
	border-style:none;
	}
	.panel-body
	{
	margin-top: -3%;
	}

 a:hover
 {
 font-weight: normal;
 
 }
 #home
 {
  margin: 3%;
 }
   header{
   text-align: center;
  font-family: 'Droid Serif', serif;
   }
    
</style>
 <body marginwidth="0" marginheight="0" rightmargin="0" leftmargin="0" topmargin="0" onLoad="selectBanners(0, 0)" >
	<!-- Wrap all page content here -->

		<!--#include file="header.ssi" --> 
    <!-- container	<div class="containe" >  -->	
       <div class="col-md-2"  id="right_nav">
		    		<br>
					 <div class="col-md-12" style="color: white;background-color:white;PADDING: 4%;" >
				    <a href="pcms.shtml" style="color: #348FAD;  ">  PCMs Home </a>
				  </div>
				         
				<!--	<a href="http://www.gov.bc.ca" target="_blank"><img src="images/boo_1.png" width="190" height="62" border="0" alt="Government of British Columbia"></a>  -->
						<table class="table table-hover table-striped" >
						<tr> 
							<th style="font-size:80%; background: #B8B8B8; color: #003366;"> USEFUL LINKS & FORMS</th>
						</tr>
						
						<tr> 
							<td>
						<a  target="_blank" href="http://headoffice.bcldb.com/corporate/legal/_layouts/15/FormServer.aspx?XsnLocation=http://headoffice.bcldb.com/corporate/legal/ePurchase%20Requisitions/Forms/template.xsn&SaveLocation=http%3A%2F%2Fheadoffice%2Ebcldb%2Ecom%2Fcorporate%2Flegal%2FePurchase%20Requisitions&ClientInstalled=true&DefaultItemOpen=1&Source=http%3A%2F%2Fheadoffice%2Ebcldb%2Ecom%2Fcorporate%2Flegal%2FPages%2FProcurement%2520and%2520Contract%2520Management%2Easpx" >Electronic Purchase Requisition <br>(ePR)</a>
					     </td>
						</tr>
						<tr> 
							<td>
						<a href="PCMs/complete_ePR.docx"   target="_blank">How to complete ePR form </a>
                         </td>
						</tr>
						<tr> 
							<td>
						<a href="http://www.fin.gov.bc.ca/ocg/fmb/manuals/CPM/06_Procurement.htm" target="_blank">Core Policy Manual</a>
						 </td>
						</tr>
						<tr> 
							<td>
						<a href="http://www.bcbid.gov.bc.ca/open.dll/welcome?language=En"   target="_blank">BC Bid </a>
		                  </td>
						</tr>
						<tr> 
							<td>
								<div ><a  href="PCMs/sow-goods.docx"  target="_blank">Scope of Work Form - Goods</a></div>
		                    </td>
						</tr>
						<tr> 
							<td>
								<div ><a  href="PCMs/SOW-Services.docx" target="_blank">Scope of Work Form - Services</a></div>
		                  </td>
						</tr>
						<tr> 
							<td>
								<div ><a href="PCMs/Direct_Award.doc" target="_blank">Direct Award Form </a></div>
		                  </td>
						</tr>
						<tr> 
							<td>
								<div ><a  href="PCMs/Direct_Award_Justification-IS.doc "  target="_blank">Direct Award Form (IS only) </a></div>
		                  </td>
						</tr>
						<tr> 
							<td> 
								<div ><a href="PCMs/Matrix.docx"  target="_blank">PCM Turnaround Time Matrix</a></div>
	                      </td>
						</tr>
						<tr> 
							<td>
								<div ><a href="http://www.fin.gov.bc.ca/ocg/fmb/manuals/CPM/06_Procurement.htm#1632a" target="_blank" >B.C. Government Corporate Services Agreement </a></div>
		               </td>
						</tr>
						<tr> 
							<td>
								<div ><a href="http://www2.gov.bc.ca/gov/content/governments/services-for-government/bc-bid-resources/goods-and-services-catalogue/commercial-cards" target="_blank" >Request for a P-Card</a></div>
		                   </td>
						</tr>
						<tr> 
							<th style="font-size:80%; background: #B8B8B8; color: #003366;">PCMs Contact</th>
						</tr>
						<tr style="color: white;background-color: #B2E0FF;"> 
							<td>
								<div ><a style="color: black; " >Contacts And Assigned User <br> Groups</a></div>
		                   </td>
						</tr>
						<tr> 
							<th style="font-size:80%; background: #B8B8B8; color: #003366;">FREQUENTLY ASKED QUESTIONS</th>
						</tr>
					</table>		
			</div>
	<div class="col-md-8" style="background-color:white;" > 
	<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
	<!--////////////////////////////////////////////////////////////  contact list /////////////////////////////////////////////////////////////////////////-->
	<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
         	 <div class="col-md-12" style="font-size: 12px;" >
				  <h3>PCMs CONTACTS AND ASSIGNED USER GROUPS</h3> 
    				  <legend> </legend>
					  <br> </br>
			 </div>
				     <div class="col-md-4">
	    				  <section class="panel panel-default"> 
						     <header class=" panel-heading">
        					  <h3 class="panel-title"> 	  Director </h3> 
							 </header>
						  </section>
						<div class="panel-body">  
						  <div class="col-md-12">Julie Wang </div>
					      <div class="col-md-12"> <a href="mailto:julie.wang@bcldb.com?"> julie.wang@bcldb.com</a> </div>
						  <div class="col-md-12">604-252-2752 </div>
					    </div>
					 </div>	
					<div class="col-md-4">
					  <section class="panel panel-default"> 
						     <header class=" panel-heading">
        					  <h3 class="panel-title">Manager </h3> 
							 </header>
						  </section>
                       <div class="panel-body"> 
						 <div class="col-md-12">  Sandra Smith </div>
						 <div class="col-md-12">  <a href="mailto:sandra.smith@bcldb.com?"> sandra.smith@bcldb.com</a> </div>
						 <div class="col-md-12"> 604-252-3195 </div>
						 <div class="col-md-12"> 
							&#x25B6;	Unique Projects 
						 </div>
					   </div>	 
					</div>
		            <div class="col-md-4">
					   <section class="panel panel-default"> 
						     <header class=" panel-heading">
        					  <h3 class="panel-title"> Administrator</h3> 
							 </header>
					    </section>
					<div class="panel-body"> 
					   <div class="col-md-12">Charlie Kuo  </div>
					   <div class="col-md-12"><a href="mailto:charlie.kuo@bcldb.com?">charlie.kuo@bcldb.com </a> </div>
					   <div class="col-md-12">604-252-3191 </div>
                       <div class="col-md-12">	&#x25B6; BC Bid Postings & Bid Results   </div>
                       <div class="col-md-12">	&#x25B6; Contract Notification Alerts  to Contract Administrators   </div>
					   <div class="col-md-12">	&#x25B6; Data Entry    </div>
                       <div class="col-md-12">	&#x25B6; PCM Office Administration   </div> 
                       <div class="col-md-12">	&#x25B6; PCM Records Management    </div>
					   <div class="col-md-12">&#x25B6; Supplier Maintenance  </div>
                     </div>			       
				   </div>  
				  <div class="col-md-12">  </div>
					<div class="col-md-4">
					    <section class="panel panel-default"> 
						     <header class=" panel-heading">
        					  <h3 class="panel-title">Analyst</h3> 
							 </header>
					    </section>
					   <div class="panel-body"> 	
				        <div class="col-md-12">   Cristine Estrada </div> 
					    <div class="col-md-12">  <a href="mailto:cristine.estrada@bcldb.com?">cristine.estrada@bcldb.com</a>   </div> 
					    <div class="col-md-12">604-252-3235 </div> 
				        <div class="col-md-12"> &#x25B6; Audit & Regulatory </div> 
					    <div class="col-md-12">	&#x25B6; Finance </div> 
						<div class="col-md-12">	&#x25B6; Human Resources</div> 
						<div class="col-md-12"> &#x25B6; Information Services/Technology </div> 
					    <div class="col-md-12">	&#x25B6; Legal Services </div>  
						<div class="col-md-12"> &#x25B6; Project Management Office (PMO) </div> 
					    <div class="col-md-12"> &#x25B6; P-Card Program </div> 
						</div>
					</div>  
					<div class="col-md-4">
					      <section class="panel panel-default"> 
						     <header class=" panel-heading">
        					  <h3 class="panel-title">Analyst</h3> 
							 </header>
					    </section>
					<div class="panel-body"> 
					    <div class="col-md-12">  Cindy Yu </div>
					    <div class="col-md-12"> <a href="mailto:cindy.yu@bcldb.com ?">cindy.yu@bcldb.com </a> </div>
					    <div class="col-md-12"> 604-252-3276 </div>
				        <div class="col-md-12">	&#x25B6; Corporate Policy & Communications </div> 
						<div class="col-md-12">	&#x25B6; Corporate Performance  </div>
					    <div class="col-md-12">	&#x25B6; General Manager's Office </div> 
					    <div class="col-md-12">	&#x25B6; Corporate Loss Prevention  </div>
						<div class="col-md-12">	&#x25B6; Marketing  </div>
						<div class="col-md-12">	&#x25B6; Real Estate (Tenant Improvement) </div> 
					  </div> 
					</div>
				<div class="col-md-4 ">
					   <section class="panel panel-default"> 
						     <header class=" panel-heading">
        					  <h3 class="panel-title">Analyst</h3> 
							 </header>
					    </section>
						
					 <div class="panel-body"> 
					     <div class="col-md-12">  Barb Dunlop </div>
					     <div class="col-md-12"> <a href="mailto:barb.dunlop@bcldb.com?">barb.dunlop@bcldb.com</a>  </div>
					     <div class="col-md-12">  604-252-3401 </div>
					     <div class="col-md-12"> &#x25B6; Distribution (VDC & KDC)  </div>						 
                         <div class="col-md-12"> &#x25B6; Human Resources (First Aid) </div>
						 <div class="col-md-12"> &#x25B6; Merchandising </div>						
						 <div class="col-md-12"> &#x25B6; Retail Services - Real Estate </div>
					     <div class="col-md-12"> &#x25B6; Store Operations </div>
						 <div class="col-md-12"> &#x25B6; Wholesale Operations </div>
					  </div>
					</div>
				 <div class="col-md-12"><br></div>  
				 <div class="col-md-12"><br></div> 	
				    <div class="col-md-12 panel panel-success" style="font-size: 95%; ">      
					     <div class="col-md-12"> <span class="glyphicon glyphicon-envelope btn-sm" aria-hidden="true"></span>   Your best way to contact our entire team is to email <a href="mailto: ldbpcm@bcldb.com?"> ldbpcm@bcldb.com </a> </div>
					     <div class="col-md-12"> <span class="glyphicon glyphicon-phone-alt btn-sm" aria-hidden="true"></span>  Call our PCMs Support line 604-252-3191 </div>
				         <div class="col-md-12"> <span class="glyphicon glyphicon-check btn-sm" aria-hidden="true"></span>  Come visit us: 2625 Rupert Building, North East 1st floor  </div>
				   </div>
			</div>
	</div>
	<!-- End of Contact List --> 
	<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
	</body>
 </html>
		
	