  <!DOCTYPE>
  <html>
  <!--////////////////////////////////////////////////////////////// PCM WEB /////////////////////////////////////////////////////////////////////////////-->
		<head>
		<title>PCMS</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="icon" type="image/gif" href="images/graph_1.png" />
		<LINK REL="SHORTCUT ICON" HREF="http://www.degraeve.com/favicon/">
		<link rel="stylesheet" type="text/css" href="css/global.css" />
		<script language="javascript" type="text/javascript" src="/js/browserdetect_lite.js"></script>
		<script language="javascript" type="text/javascript" src="/js/netcssfix.js"></script>
		<script language="javascript" type="text/javascript" src="/js/writeinput.js"></script>
		<script language="javascript" type="text/javascript" src="/js/css_adjustment.js"></script>
		<script language="javascript" type="text/javascript" src="/js/select_banners.js"></script>
		<script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<style>
		container
		  {
			margin-top: 15px;
		  }
	    .table-hover td:hover
		  {
			background-color: #E0E0E0;
		  }
		div#right_nav 
		   {
			padding-right: 78px;
           }
		.col-md-2 > legend  
		  {
			margin: 0px;
		  }
		.col-md-2	.col-md-12:first-child
           {
		   font-weight: 800;
		   }		  
		td a:hover
		  {
			font-weight: 100;
			text-decoration: none; 
		  }
		p:only-of-type
		  {
		    color: red;
		    font-size: 12;
		  } 
	   .accordion-toggle 
		  {
		   color: #707070;
		   font-weight: bold;
		  }  
	    [name = "footertable"]
		   {
			display: none;
		   }
	    #footer:child
		  {
		   font-size: 70%;
		  }
		#space
		  {
		   color: white;
          }
		html,body 
		  {
			height: 100%;
		    /* The html and body elements cannot have any padding or margin. */
	      }
	        /* Wrapper for page content to push down footer */
	    #wrap 
		  {
	       min-height: 100%;
	       height: auto;
	      /* Negative indent footer by its height */
	       margin: 0 auto 0px;
	      /* Pad bottom by footer height */
	       padding: 0 0 60px;
	     }

	     /* Set the fixed height of the footer here */
	   #footer 
	   {
	     height: 60px;
	     background-color: #f5f5f5;
	   }
	</style>
	
   </head>
 <link id="size-stylesheet" rel="stylesheet" type="text/css" href="css/pcm_style.css" />
   <script>
   $( document ).ready(function() 
   {
   function adjustStyle(width) 
   {
     width = parseInt(width);
	 if (width <970)
	   {
	     $("#size-stylesheet").attr("href", "css/pcm_style_5.css");
	   }
	     else  if (width <989)
	   {
	     $("#size-stylesheet").attr("href", "css/pcm_style_2.css");
	   }
	    else if (width <1200)
	   {
	     $("#size-stylesheet").attr("href", "css/pcm_style_3.css");
	   }
	 
	   else if (width <1321)
	   {
	     $("#size-stylesheet").attr("href", "css/pcm_style_3_3.css");
	   }
	   
	     else if (width <1422)
	   {
	     $("#size-stylesheet").attr("href", "css/pcm_style_3_4.css");
	   }
	     else if (width <1477)
	   {
	     $("#size-stylesheet").attr("href", "css/pcm_style_3_5.css");
	   }
	   
	   else if (width <1650)
	   {
	     $("#size-stylesheet").attr("href", "css/pcm_style_4.css");
	   }
	   
	    else if (width <2063)
	   {
	     $("#size-stylesheet").attr("href", "css/pcm_style_7.css");
	   }
	   else if (width >2063)
	   {
	     $("#size-stylesheet").attr("href", "css/pcm_style_6.css");
	   }
    }
	
	
	
	
	
  $(function() 
    {
	var winWidth = $(window).width(),
    winHeight = $(window).height();
	
      adjustStyle(winWidth);

      $(window).resize(function() 
	  
	  {
	    var winNewWidth = $(window).width(),
        winNewHeight = $(window).height();
		
		 if(winWidth!=winNewWidth || winHeight!=winNewHeight){
      adjustStyle(winNewWidth);
      }
	  
	  });
	    winWidth = winNewWidth;
        winHeight = winNewHeight;
    });
   });
   </script>
<body marginwidth="0" marginheight="0" rightmargin="0" leftmargin="0" topmargin="0" onLoad="selectBanners(0, 0)">
 <div id="wrap">
		<!--#include file="header.ssi" --> 	
	<div class="col-md-12" style="margin-top; 5px; "> 
			<div class="col-md-2" style="padding-left: 0px;  " id="right_nav">
				<br>		
 				  <div class="col-md-12" style="color: white;background-color:#B2E0FF;PADDING: 4%;" >
				    <a style="color: black;  ">  PCMs Home </a>
				  </div>
					<table class="table table-hover table-striped" >
						<tr> 
							<th style="font-size:80%; background: #B8B8B8; color: #003366;"> USEFUL LINKS & FORMS</th>
						</tr>
						<tr> 
						   <td>
						    <a  target="_blank" href="http://headoffice.bcldb.com/corporate/legal/_layouts/15/FormServer.aspx?XsnLocation=http://headoffice.bcldb.com/corporate/legal/ePurchase%20Requisitions/Forms/template.xsn&SaveLocation=http%3A%2F%2Fheadoffice%2Ebcldb%2Ecom%2Fcorporate%2Flegal%2FePurchase%20Requisitions&ClientInstalled=true&DefaultItemOpen=1&Source=http%3A%2F%2Fheadoffice%2Ebcldb%2Ecom%2Fcorporate%2Flegal%2FPages%2FProcurement%2520and%2520Contract%2520Management%2Easpx" >Electronic Purchase Requisition (ePR)</a>
					       </td>
						</tr>
						<tr> 
							<td>
						      <a href="pcms/complete_ePR.docx"   target="_blank">How to complete ePR form </a>
                            </td>
						</tr>
						<tr> 
							<td>
						     <a href="http://www.fin.gov.bc.ca/ocg/fmb/manuals/CPM/06_Procurement.htm" target="_blank">Core Policy and Procedures Manual</a>
						    </td>
						</tr>
						<tr> 
							<td>
						       <a href="http://www.bcbid.gov.bc.ca/open.dll/welcome?language=En"   target="_blank">BC Bid </a>
		                    </td>
						</tr>
						<tr> 
							<td>
							  <div ><a  href="PCMs/sow-goods.docx"  target="_blank">Scope of Work Form - Goods</a></div>
		                    </td>
						</tr>
						<tr> 
							<td>
								<div ><a  href="pcms/SOW-Services.docx" target="_blank">Scope of Work Form - Services</a></div>
		                  </td>
						</tr>
						<tr> 
							<td>
								<div ><a href="pcms/Direct_Award.doc" target="_blank">Direct Award Form </a></div>
		                  </td>
						</tr>
						<tr> 
							<td>
								<div ><a  href="pcms/Direct_Award_Justification-IS.doc "  target="_blank">Direct Award Form (IS only) </a></div>
		                  </td>
						</tr>
						<tr> 
							<td> 
								<div ><a href="pcms/Matrix.docx"  target="_blank">PCM Turnaround Time Matrix</a></div>
	                      </td>
						</tr>
						<tr> 
							<td>
								<div ><a href="http://www.fin.gov.bc.ca/ocg/fmb/manuals/CPM/06_Procurement.htm#1632a" target="_blank" >B.C. Government Corporate Services Agreement </a></div>
		               </td>
						</tr>
						<tr> 
							<td>
								<div ><a href="http://www2.gov.bc.ca/gov/content/governments/services-for-government/bc-bid-resources/goods-and-services-catalogue/commercial-cards" target="_blank" >Request for a P-Card</a></div>
		                   </td>
						</tr>
						<tr> 
							<th style="font-size:80%; background: #B8B8B8; color: #003366;">PCMs Contact</th>
						</tr>
						<tr> 
							<td>
								<div ><a href="pcms_contacts.shtml"  >Contacts And Assigned User <br> Groups</a></div>
		                   </td>
						</tr>
						<tr> 
							<th style="font-size:80%; background: #B8B8B8; color: #003366;">FREQUENTLY ASKED QUESTIONS</th>
						</tr>

					</table>		
			</div>
	  <div class="col-md-5">		
		<legend></legend>
		<div   style=" padding: 1%; font-family: times; font-size:120%; background: #B8B8B8; color: #003366; font-weight: bold; margin-bottom: 1%;">Procurement & Contract Management Services(PCMs) - Legal Services</div>			
        <img  src="images/PCMs_procurement.png" style="width:85%;height:28%; border-color: white; " data-toggle="modal" data-target="#myModal">		
		<div class="accordion" id="accordion2" >
		  <div class="accordion-group">
			<div class="accordion-heading">
				<br>
			  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
				WHAT WE DO
			  </a>
			</div>
			<div id="collapseOne" class="accordion-body collapse collapse in">
			  <div class="accordion-inner">
				From needs analysis and specification development through to contract drafting and negotiations, we are able to provide a full spectrum of valuable procurement advice and services.
			  </div>
			</div>
		  </div>
		  <div class="accordion-group">
			<div class="accordion-heading">
			 <legend></legend>
			  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
				WHO WE ARE
			  </a>
			</div>
			<div id="collapseTwo" class="accordion-body collapse collapse in">
			  <div class="accordion-inner ">
				We are a team of procurement professionals providing support and advice on your purchasing of non-liquor goods and services.
			  </div>
			</div>
		  </div>  
		 <legend ></legend>
		</div>		
     </div>				
	 <div class="col-md-5">
		<br>
	    <div  style="padding: 1%; font-family: times; font-size:135%; background: #B8B8B8; color: #003366; font-weight: bold;">How-to-buy matrix</div>
		<div  style="font-size:109%;   font-family: Georgia; background: #3B347D; padding: 2%; color: EDF1F2; "><center> Guideline on How to Procure Goods and Services </center></div>
		<img  src="images/PCMs_guideline.png" alt=" gUIDELINE ON HOW TO PROCURE GOODS" style="width:100%;height:22%; border-color: white; " data-toggle="modal" data-target="#myModal_2">
	    <img  src="images/PCMs_alert.png"  style="width:100%;height:9%; ">
	 </div>
	</div>
	<div class="col-md-2"> <p> <br> </p></div>
    <div class="col-md-10" id = "gra_2"> 
	   <div class="col-md-6">  <img  src="images/PCMs_requisition.png" style="width:80%;height:33%;" ></div>
       <div class="col-md-6">  <img   src="images/PCMs_number_of_req.png" style="width:80%;height:35%;" data-toggle="modal" data-target="#myModal"> </div> 
    </div>	 
    <div class="col-md-2"><p> <br> </p></div> 
	<div class="col-md-10"> 
	   <div class="alert alert-warning alert-dismissible" role="alert" > <center>  Data captured from April - October, 2015 </center></div>
	</div> 
	<div class="col-md-12"> <p> </p> </div> 
	<div class="col-md-2"><p> <br> </p></div>
	<div class="col-md-4"> 
	 <h4><b> <span class="glyphicon glyphicon-time" aria-hidden="true"></span> DEADLINES FOR YEAR END <span class="glyphicon glyphicon-time" aria-hidden="true"></span></b></h4>
	 <ul>
	  <li>RFP/ITT/ITQ/RFI/RFQ - December 11, 2015</li>
	  <li>New Contracts - February 15, 2016</li>
	  <li>Contract Amendment/Extension - February 29, 2016</li>
	  <li>Purchase Orders - March 15, 2016</li>	 
	</ul>
	</div>
	<div class="col-md-6"></div> 
	<div class="col-md-12"><br></div>  
  </div> <p> <br> </p> 
 <!--#include file="footer.ssi" -->
 </body>
</html>
		
	