


<h3> ASC and DESC order</h3>
<p>
 Select * from customers order by first_column ASC
</p>
<h3> Join </h3>
<p>
SELECT *
FROM Categories c
right JOIN Shippers
ON c.CategoryID=Shippers.ShipperID;
<a href="http://www.w3schools.com/sql/trysql.asp?filename=trysql_select_join_left">link </a>
</p>
<h3>INSERT </h3>
<p>
INSERT INTO table_name (column1,column2,column3)
VALUES (value1,value2,value3);
</p>
