<h2> PHP </h2>

<h3> Refrences </h3>
<p>
By default, function arguments are passed by value (so that if the value of the argument within the function is changed, it does not get changed outside of the function). To allow a function to modify its arguments, they must be passed by reference.

To have an argument to a function always passed by reference, prepend an ampersand (&) to the argument name in the function definition.
</p>
<pre class="prettyprint lang-php " >
function add_some_extra(&$string)
{
    $string .= 'and something extra.';
}

$str = 'This is a string, ';
add_some_extra($str);
echo $str;    // outputs 'This is a string, and something extra.'
</pre>
<pre class="prettyprint lang-php " >
$a = '1';
$b = &$a;
$b = "2$b";
echo $a.", ".$b;
// output is 21,21
</pre>