<h1>Requirement Engineering </h1>







After gathering requirements we start desgining. Interview with user make sure and identify areas have to be involved, who is responsible who is contaced! 

List event list so we have a list of things that have to be done. 

forces our details into diagrams. 

list of values potentially create a use case. 



<h2> Design part </h2>

<h3> Modelling Techniques </h3>


<h4> Use Case Model</h4>

Bussiness rules : All should stand alone
should stand alone 

Object attributes may use in use case,

card type --> there would be more extention for them --> 

Speed up the case models,

An Actor: it does not mean neccessary a person, it can be another system, 

System : system
use case: actuall process

dealing with key processes and the key concepts dealing with that process are extends,

manager has more capability 