<!DOCTYPE html>
 <script>
// $(window).load(function(){
//   while (1){
//   console.log("S_");
//      }
// });
 </script>



<html lang="en">
<head>
  <title>Ruby</title>
</head>

<body>

    <ins class="adsbygoogle"
               style="display:inline-block;width:728px;height:90px"
               data-ad-client="ca-pub-8784039367470812"
               data-ad-slot="9780252883"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>  

<h2> Ruby  </h2>


Run Ruby on a terminal single line 
<pre class="prettyprint lang-ruby">
ruby which # find where ruby located then run below code  
ruby -e "puts 323"
ruby -e "print 134"
ruby simple_file.rb
irb # take you to interactive ruby shell to type and test ruby codes in that environment, A good place to test exxisted methods like reverse
"hello".reverse
</pre>

Numbers 
<pre class="prettyprint lang-ruby">
10 / 3 --> 3 but
10.0 / 3 --> 3.3333333 OR 10 / 3.0 --> 3.3333333
</pre>

Strings
<pre class="prettyprint lang-ruby">
add strings --> var1 + ' and ' + var2
"amir"*2 --> "amiramir"
</pre>
use \ to escape chars

<h3> Hashes </h3>
<p>Hashes are object-indexed, unordered collection of objects. Values and keys can be anything from arrays to strings or numbers or mixed </p>
<pre class="prettyprint lang-ruby">
person_hash = {'first_key'=> 'Amir', 'Second_key' => '1999'}
To call first_key we have: person_hash['first_key']
Also we can return the key by having the value:  person_hash.index['Amir']
person_hash.keys   # returns keys
person_hash.values # returns valuse
person_hash.size = person_hash.length
person_hash['new_key'] = "new value"  #this code will add one pair to current hash
</pre>

<h3> Constant </h3>
(one difference with other languages) Any variable starts with a capital letter considered as a constant
<h3> Iterators </h3>
Iterators works like loops but instead of just looping and waiting for something to happen to know whether to continue loops or breaking out, iteratos traverse on a fixed size of data.
<pre class="prettyprint lang-ruby">
5.times do 
  puts "amir"
end  

fruits = ["apple", "banana",'orange']

fruits.each do |f|
  f.capitalize
end
</pre>

varScope

<img src=" <%= asset_path('varScope.png') %>" height="90%" width="90%">

<h3> Code Blocks </h3>
<p> In iterators or loops everything between do ... end is code block. Variables define inside block are accessible only inside the block and we define it variable scope</p>

<h3> Find </h3>
<p>  Go through of datas and if finds the block was true return the result</p>
(1..10).find { |i|  i % 3 == 0 }  # returns 3, the first one on the list

(1..10).include?(3)  # among numbers 1 to 10 which one include 3 ?


<script type="text/javascript">
	
$.simpleWeather({
	zipcode: '76309',
	unit: 'f',
	success: function(weather) {
		html = '<h2>'+weather.city+', '+weather.region+'</h2>';
		html += '<img style="float:left;" width="125px" src="images/weather/'+weather.code+'.png">';
		html += '<p>'+weather.temp+'&deg; '+weather.units.temp+'<br /><span>'+weather.currently+'</span></p>';
		html += '<a href="'+weather.link+'">View Forecast &raquo;</a>';

		$("#weather").html(html);
	},
	error: function(error) {
		$("#weather").html("<p>"+error+"</p>");
	}
});
	
</script>









































