<!DOCTYPE html>
 <script>
// $(window).load(function(){
//   while (1){
//   console.log("S_");
//      }
// });
 </script>



<html lang="en">
<head>
  <title>Ruby</title>
</head>

<body>

<h2> Ruby  </h2>


Run Ruby on a terminal single line 
<pre class="prettyprint lang-ruby">
ruby which # find where ruby located then run below code  
ruby -e "puts 323"
ruby -e "print 134"
ruby simple_file.rb
irb # take you to interactive ruby shell to type and test ruby codes in that environment, A good place to test exxisted methods like reverse
"hello".reverse
</pre>

