<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>


<!DOCTYPE html>
<html>
<head>
    <title>Cross-Origin Resource Sharing (CORS) With jQuery And Node.js</title>
</head>
<body>

</hrml>

<script>

// function me() 
// {

//  $.ajax({
//      url:"http://www.bcliquorstores.com/product/568188",
//      dataType: 'jsonp', // Notice! JSONP <-- P (lowercase)
//      success:function(json){
//          // do stuff with json (in this case an array)
//          alert("Success");
//      },
   
//      }      
//fddfsfd });

// }

// me();
</script>

<iframe width="760" height="615" src="https://www.youtube.com/embed/lJ9oCYluK_o?autoplay=1" frameborder="0" allowfullscreen></iframe>

<p> packet/LAN sniffers, XSS, CSRF, encryption, HTTPS, SMTP/POP, DNS, etc.</p>
 <p>ability to isolate memory leaks, memory corruptions, and deadlocks; some experience with a code profiler</p>
 <p>process/thread synchronization and management, C/C++</p>
