
<style>
h2 {
text-shadow: 9px 9px 2px rgba(150, 150, 150, 1);
   }
</style>
<title>Version Control System</title>
<h2> Version Control System </h2>

<h3> Git </h3>
<p>
 to deploy a new repository we go this process
</p>

<pre class="prettyprint lang-git">
git init
git add .
git commit -am "my comment"
git remote add origin https//github.com/myusername/myrepositoryName.git
git push -u origin master
</pre>

<p>When the last modification on remote repository was not with the same local app, first you have pull or fetch then using push. Pull containes fetch and merge </p>
<pre class="prettyprint lang-git">
Pull origin   # means get the repository codes and merged them with your local codes
fetch  origin # means get repository only
merge  #....
</pre>

<p>
You can verify the remote in your git configuration. To change the remote origin we first remove then add new one. This <a href="https://help.github.com/articles/fork-a-repo/"> link </a> helps as well.
</p>
<pre class="prettyprint lang-git">
git remote -v
git remote remove origin 
git remote add origin https://github.com/anabaei/project_12


To see the existing URL just do:
git config remote.origin.url
To set new remote: 
git remote set-url origin &lt;yourURL>
git help remote
</pre>
Or you can go to .git/config iside your app, and change URL

<h3> Git on <a href="https://devcenter.heroku.com/articles/git">
	Heroku server</a> </h3>

<pre class="prettyprint lang-git">
heroku login	
git init
git add .
git commit -am "my comment"
heroku git:remote -a myapponHeroku
git push heroku master
heroku run rake db:migrate
</pre>

<p>
You may need  to associate a Git repository with an existing application. The heroku git:remote 
</p>
<pre class="prettyprint lang-git">
heroku git:remote
</pre>

<p>
	This tells you your branch is ahead of master or not, also tells you which files has not commited yet starting with M.
</p>
<pre class="prettyprint lang-git">
git checkout master
</pre>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- add_3 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8784039367470812"
     data-ad-slot="2861454880"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

