

<title>Version Control System</title>

<h2> Github  </h2>
<p>
 to deploy a new repository we go this process
</p>

<pre class="prettyprint lang-git">
git init
git add .
git commit -am "my comment"
git remote add origin https//github.com/myusername/myrepositoryName.git
git push -u origin master
</pre>

<p>
You can verify the remote in your git configuration:
</p>
<pre class="prettyprint lang-git">
git remote -v
</pre>


<h2> Git on <a href="https://devcenter.heroku.com/articles/git">
	Heroku server</a> </h2>

<pre class="prettyprint lang-git">
heroku login	
git init
git add .
git commit -am "my comment"
heroku git:remote -a myapponHeroku
git push heroku master
</pre>

<p>
You may need  to associate a Git repository with an existing application. The heroku git:remote 
</p>
<pre class="prettyprint lang-git">
heroku git:remote
</pre>

<p>
	This tells you your branch is ahead of master or not, also tells you which files has not commited yet starting with M.
</p>
<pre class="prettyprint lang-git">
git checkout master
</pre>
