
<style>

h1,h2,h3
  {
  	font-family: 'Slabo 27px', serif;
  }
  p
  {
  	font-family: 'Lora', serif;
  }
</style>
<h2 id="title"> CSS and More</h2>
<p>
You can use prettyprint to snipet code form this 
<a href="http://jmblog.github.io/color-themes-for-google-code-prettify/vibrant-ink/"> link </a> 
or  <a href="https://github.com/google/code-prettify"> link </a> 
</p>
<p> text shadow <a href="http://css3gen.com/text-shadow/"> here </a> </p>
<p> 
	we can use aswesome fonts with icons from <a href="http://fortawesome.github.io/Font-Awesome/icon/wifi/"> this </a>. Only add a CDN and clss of the object. </p>

<h3>
Compatible with Internet Explorer 
</h3>
<pre class="prettyprint lang-html" >
  &lt meta http-equiv="X-UA-Compatible" content="IE=edge" &gt</pre>


<h3> CSS Selectors </h3>
<p> select all a's with href attribute starts with https.
</p> 
<pre class="prettyprint lang-css" >
 a[href ^= "https"]
</pre>
<p> select all a's with href attribute ends with .pdf 
</p> 
<pre class="prettyprint lang-css" >
 a[href $= ".pdf"]
</pre>
<p> select all a's with href attribute contains amir 
</p> 
<pre class="prettyprint lang-css" >
 a[href *= "amir"]
</pre>
<p> select every p element that is second child of its parent 
</p> 
<pre class="prettyprint lang-css" >
 p:nth-child(2)
</pre>
<p> select every thing that is not p
</p> 
<pre class="prettyprint lang-css" >
 :not(p)
</pre>

<p> select all p where parents is a div
</p> 
<pre class="prettyprint lang-css" >
 div > p
</pre>
<p> select all p which is inside a div
</p> 
<pre class="prettyprint lang-css" >
 div  p
</pre>
<p> select all p has no child
</p> 
<pre class="prettyprint lang-css" >
 p:empty
</pre>
<p> select only ul that has id attribute
</p> 
<pre class="prettyprint lang-css" >
 ul[id]
</pre>
<p> select last children of li that is children of name1
</p> 
<pre class="prettyprint lang-css" >
 #name1 > li:last_child
</pre>

<h3> Accordion Bootstrap </h3>
<p> after including jquery from <a href=""> here </a> and bootstrap cdn from <a href="http://getbootstrap.com/getting-started/"> link </a> </p>

<pre class="prettyprint lang-html" >
	&ltdiv class="accordion" id="accordion2" &gt						
	  &ltdiv class="accordion-group"&gt						
		&ltdiv class="accordion-heading"&gt					
			&ltbr&gt				
		  &lta class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"&gt					
			WHAT WE DO				
		  &lt/a&gt					
		&lt/div&gt					
		&ltdiv id="collapseOne" class="accordion-body collapse collapse in"&gt					
		  &ltdiv class="accordion-inner"&gt					
			From needs analysis and specification development through to contract drafting and negotiations				
		  &lt/div&gt					
		&lt/div&gt					
	  &lt/div&gt						
	  &ltdiv class="accordion-group"&gt						
		&ltdiv class="accordion-heading"&gt					
		 &ltlegend&gt&lt/legend&gt					
		  &lta class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo"&gt					
			WHO WE ARE				
		  &lt/a&gt					
		&lt/div&gt					
		&ltdiv id="collapseTwo" class="accordion-body collapse collapse in"&gt					
		  &ltdiv class="accordion-inner "&gt					
			We are a team of 				
		  &lt/div&gt					
		&lt/div&gt					
	  &lt/div&gt  												
	&lt/div&gt						
</pre>

<h2> <a href = "http://tympanus.net/codrops/2015/10/21/page-stack-navigation/" > Coderops </a> </h2>

<h2> How SSL Works </h2>
<p>
When a Web browser tries to connect to a website using SSL, the browser will first request the web server identify itself. This prompts the web server to send the browser a copy of the SSL Certificate. The browser checks to see if the SSL Certificate is trusted --  if the SSL Certificate is trusted, then the browser sends a message to the Web server. The server then responds to the browser with a digitally signed acknowledgement to start an SSL encrypted session. This allows encrypted data to be shared between the browser and the server. You may notice that your browsing session now starts with https (and not http).
</p>

<h2> Secure HTTP (S-HTTP) </h2>
<p>
Another protocol for transmitting data securely over the World Wide Web is Secure HTTP (S-HTTP). Whereas SSL creates a secure connection between a client and a server, over which any amount of data can be sent securely, S-HTTP is designed to transmit individual messages securely. SSL and S-HTTP, therefore, can be seen as complementary rather than competing technologies. Both protocols were approved by the Internet Engineering Task Force (IETF) as a standard.
</p>

<h2>  Web Server </h2>
<p>
 A web server is an information technology that processes requests via HTTP, the basic network protocol used to distribute information on the World Wide Web. The term can refer either to the entire computer system, an appliance, or specifically to the software that accepts and supervises the HTTP requests 
</p>

<p>
Typing characters in html needs to use html entity. An altarnative solution is using decimal  or hexadecimal refrence from <a href="http://www.w3schools.com/charsets/ref_utf_punctuation.asp"> here </p>
</p>

<a href="http://www.aspforums.net/Threads/503259/Allow-only-Persian-Arabic-characters-in-TextBox-using-JavaScript/"> farsi ascii  codes &#1578; </a>

<h3>CMD copy/paste </h3>
<p>
from cmd: select and enter then click right!
to cmd: copy then click right!
	</p>
<p> more bold text using "font-weight: 900;" css code.
</p> 

<h3> SASS and SCSS <a href="https://www.youtube.com/watch?v=vdS6RsiYgCw"> tutorial </a> </h3>
