
<style>

h1,h2,h3
  {
  	font-family: 'Slabo 27px', serif;
  }
  p
  {
  	font-family: 'Lora', serif;
  }
</style>
<h2 id="title"> CSS and More</h2>

<div class="contblock">


<p><a href="http://www.w3.org/TR/2001/WD-css3-roadmap-20010523/">W3C CSS3 Working Draft</a></p>
<h4>Feature Specific Draft Specifications:</h4>
<ul>
	<li><a href="http://www.w3.org/TR/css3-transitions/">Transitions</a></li>
	<li><a href="http://www.w3.org/TR/css3-2d-transforms/">Transformations</a></li>
	<li><a href="http://w3.org/TR/CSS3-multicol">Multi Column Layout</a></li>
	<li><a href="http://w3.org/TR/css3-webfonts/">Web Fonts</a></li>
	<li><a href="http://www.w3.org/TR/css3-webfonts/#font-face-rule">Using @font-face</a></li>

</ul>	


<h3>Discussion and examples:</h3>
<ul>
		<li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/transition">Transitions</a></li>
		<li><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Using_CSS_animations">Animations</a></li>
	<li><a href="http://www.quirksmode.org/css/multicolumn.html">Quirksmode</a> provides a multi column layout demonstration</li>
	<li><a href="http://webdesignerwall.com/?s=css3">Web Designer Wall</a> has several good CSS3 tutorials and examples</li>
</ul>
<p>Of course, theres is much more in the promise of CSS3, several additional features should reach decent experimental support over the next couple of years. Stay up to date by visiting <a href="http://www.css3.info/">developer community</a> websites and forums.</p>
</div>



<p>
You can use prettyprint to snipet code form this 
<a href="http://jmblog.github.io/color-themes-for-google-code-prettify/vibrant-ink/"> link </a> 
or  <a href="https://github.com/google/code-prettify"> link </a> 
</p>
<p> text shadow <a href="http://css3gen.com/text-shadow/"> here </a>. Border radius code 
	<a href="http://css3gen.com/border-radius/"> generator </a> </p>
<p> 
	we can use aswesome fonts with icons from <a href="http://fortawesome.github.io/Font-Awesome/icon/wifi/"> this </a>. Only add a CDN and clss of the object. </p>
 <p>  white hat <a href= "https://www.udemy.com/certified-white-hat-hacker-level-1-advanced/"> course </a>  </p>
<p> naming keyboard keys <a href="http://www.computerhope.com/keys.htm"> help </a>
<p> Standard HTML <a href="http://www.ascii.cl/htmlcodes.htm"> Codes </a>
<h3>
Compatible with Internet Explorer 
</h3>
<pre class="prettyprint lang-html" >
  &lt meta http-equiv="X-UA-Compatible" content="IE=edge" &gt</pre>


<h3> CSS Selectors </h3>
<p> select all a's with href attribute starts with https.
</p> 
<pre class="prettyprint lang-css" >
 a[href ^= "https"]
</pre>
<p> select all a's with href attribute ends with .pdf 
</p> 
<pre class="prettyprint lang-css" >
 a[href $= ".pdf"]
</pre>
<p> select all a's with href attribute contains amir 
</p> 
<pre class="prettyprint lang-css" >
 a[href *= "amir"]
</pre>
<p> select every p element that is second child of its parent 
</p> 
<pre class="prettyprint lang-css" >
 p:nth-child(2)
</pre>
<p> select every thing that is not p
</p> 
<pre class="prettyprint lang-css" >
 :not(p)
</pre>

<p> select all p where parents is a div
</p> 
<pre class="prettyprint lang-css" >
 div > p
</pre>
<p> select all p which is inside a div
</p> 
<pre class="prettyprint lang-css" >
 div  p
</pre>
<p> select all p has no child
</p> 
<pre class="prettyprint lang-css" >
 p:empty
</pre>
<p> select only ul that has id attribute
</p> 
<pre class="prettyprint lang-css" >
 ul[id]
</pre>
<p> select last children of li that is children of name1
</p> 
<pre class="prettyprint lang-css" >
 #name1 > li:last_child
</pre>

<h3> Accordion Bootstrap </h3>
<p> after including jquery from <a href=""> here </a> and bootstrap cdn from <a href="http://getbootstrap.com/getting-started/"> link </a> </p>

<pre class="prettyprint lang-html" >
	&lt;div class="accordion" id="accordion2" &gt;						
	  &lt;div class="accordion-group"&gt;						
		&lt;div class="accordion-heading"&gt;					
			&lt;br&gt;				
		  &lt;a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"&gt;					
			WHAT WE DO				
		  &lt;/a&gt;					
		&lt;/div&gt;					
		&lt;div id="collapseOne" class="accordion-body collapse collapse in"&gt;					
		  &lt;div class="accordion-inner"&gt;					
			From needs analysis and specification development through to contract drafting and negotiations				
		  &lt;/div&gt;					
		&lt;/div&gt;					
	  &lt;/div&gt;						
	  &lt;div class="accordion-group"&gt;						
		&lt;div class="accordion-heading"&gt;					
		 &lt;legend&gt&lt/legend&gt;					
		  &lt;a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo"&gt;					
			WHO WE ARE				
		  &lt;/a&gt;					
		&lt;/div&gt;					
		&lt;div id="collapseTwo" class="accordion-body collapse collapse in"&gt;					
		  &lt;div class="accordion-inner "&gt;					
			We are a team of 				
		  &lt;/div&gt;					
		&lt;/div&gt;					
	  &lt;/div&gt;  												
	&lt;/div&gt;						
</pre>

<h2> <a href = "http://tympanus.net/codrops/2015/10/21/page-stack-navigation/" > Coderops </a> </h2>

<h2> How SSL Works </h2>
<p>
When a Web browser tries to connect to a website using SSL, the browser will first request the web server identify itself. This prompts the web server to send the browser a copy of the SSL Certificate. The browser checks to see if the SSL Certificate is trusted --  if the SSL Certificate is trusted, then the browser sends a message to the Web server. The server then responds to the browser with a digitally signed acknowledgement to start an SSL encrypted session. This allows encrypted data to be shared between the browser and the server. You may notice that your browsing session now starts with https (and not http).
</p>

<h2> Secure HTTP (S-HTTP) </h2>
<p>
Another protocol for transmitting data securely over the World Wide Web is Secure HTTP (S-HTTP). Whereas SSL creates a secure connection between a client and a server, over which any amount of data can be sent securely, S-HTTP is designed to transmit individual messages securely. SSL and S-HTTP, therefore, can be seen as complementary rather than competing technologies. Both protocols were approved by the Internet Engineering Task Force (IETF) as a standard.
</p>

<h2>  Web Server </h2>
<p>
 A web server is an information technology that processes requests via HTTP, the basic network protocol used to distribute information on the World Wide Web. The term can refer either to the entire computer system, an appliance, or specifically to the software that accepts and supervises the HTTP requests 
</p>

<p>
Typing characters in html needs to use html entity. An altarnative solution is using decimal  or hexadecimal refrence from <a href="http://www.w3schools.com/charsets/ref_utf_punctuation.asp"> here </p>
</p>

<a href="http://www.aspforums.net/Threads/503259/Allow-only-Persian-Arabic-characters-in-TextBox-using-JavaScript/"> farsi ascii  codes &#1578; </a>

<h3>CMD copy/paste </h3>
<p>
from cmd: select and enter then click right!
to cmd: copy then click right!
	</p>
<p> more bold text using "font-weight: 900;" css code.
</p> 

<h3> SASS and SCSS <a href="https://www.youtube.com/watch?v=vdS6RsiYgCw"> tutorial </a> </h3>

<legend></legend>
<p>
 <a href="https://technet.microsoft.com/en-us/library/cc787920(v=ws.10).aspx"> DNS </a> is an abbreviation for Domain Name System, a system for naming computers and network services that is organized into a hierarchy of domains. DNS naming is used in TCP/IP networks, such as the Internet, to locate computers and services through user-friendly.
</p>
<p>
<b> <a href="https://technet.microsoft.com/en-us/library/cc786128(v=ws.10).aspx">TCP/IP </a> </b>stands for Transmission Control Protocol/Internet Protocol, which is a set of networking protocols that allows two or more computers to communicate. The Defense Data Network, part of the Department of Defense, developed TCP/IP, and it has been widely adopted as a networking standard
</p>
<p>
<b><a href="http://whatis.techtarget.com/definition/operating-system-OS">An operating system</a> </b>
	 (sometimes abbreviated as "OS") is the program that, after being initially loaded into the computer by a boot program, manages all the other programs in a computer.The other programs are called applications or application programs. The application programs make use of the operating system by making requests for services through a defined application program interface (API). 
</p>

<h2> Define absolute in Bootstrap grid </h2>

<p> 
 In any tag, we can define a tag inside it. Then the position of nested tag is fixed to his parent tag in all time. 
</p>
<pre class="prettyprint lang-html">
   &lt;div class="col-md-5"&gt;
    	&lt;div style="position:relative;"&gt;
				&lt;img  src="images/Requisition_status_chart.png" style="" &gt;
				&lt;div style="position:absolute; top:0px; left:100%;"&gt;
				     &lt;img   src="images/PCMs_number_of_req.png" style=" " data-toggle="modal" data-target="#myModal"&gt;
				&lt;/div&gt;
		&lt;/div&gt;
    &lt;/div&gt;
</pre>