
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>three.js webgl - buffergeometry</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.min.js"></script>
		<style>
			body
			{
				margin-top: 3%;
				margin-left: 20%;
				margin-right:20%;
			}

		</style>
	</head>
<body class="container">

   		
	<iframe width="860" height="715" src="https://www.youtube.com/embed/1GO0PW2NGqo" frameborder="0" allowfullscreen></iframe>


	</body>
</html>
