
<!DOCTYPE html>
 <script>
// $(window).load(function(){
//   while (1){
//   console.log("S_");
//      }
// });
 </script>



<html lang="en">
<head>
  <title>Words</title>
</head>

<h2 id="title"> Words </h2>

 <table class="table  table-hover  table-bordered " data-toggle="table">
  <tr> 
  	<td>Nifty  </td>
  	<td> particularly good, skilful  </td>
  	<td>  </td>
  </tr>
  <tr> 
  	<td>goodies  </td>
  	<td>  attractive things </td>
  	<td> nifty goodies scss files  </td>
  </tr>
  <tr> 
  	<td> reduntdant </td>
  	<td>  not or no longer needed  </td>
  	<td> it is reduntant </td>
  </tr>
  <tr> 
  	<td> exclusive  </td>
  	<td>  restricted or limited to a person </td>
  	<td>  </td>
  </tr>
  <tr> 
  	<td>  Plunge </td>
  	<td> jump or dive quickly and energetically  </td>
  	<td>  </td>
  </tr>
   <tr> 
    <td>  API </td>
    <td>  application programming Interface </td>
    <td>  </td>
  </tr>
    <tr> 
    <td> CMS  </td>
    <td>  Content management system </td>
    <td>  </td>
  </tr>
    <tr> 
    <td>  implicit  </td>
    <td> implied though not plainly expressed </td>
    <td> comments seen as implicit criticism of the policies </td>
  </tr>
    <tr> 
    <td>  Threads </td>
    <td>  within a same process share address space. different process do not share address. so threads allow
    to read/write from each other and have easy communications with each other </td>
    <td>  </td>
  </tr>
    <tr> 
    <td>   Process</td>
    <td>   is an executing instance of an application </td>
    <td>  threads can do any thing that process can do</td>
  </tr>
    <tr> 
    <td> version 2.3.1  </td>
    <td>  2: major version number, 3: minor version number </td>
    <td>  1: revision number (fix bugs) </td>
  </tr>
    <tr> 
    <td> Auxiliary Server  </td>
    <td> foreign server  </td>
    <td>   like heroku </td>
  </tr>
     <tr> 
    <td> criteria  </td>
    <td>  a principle or standard by which something may be judged or decided </td>
    <td> the launch came too close to violating safety criteria </td>
  </tr>
     <tr> 
    <td>  negligible </td>
    <td> so small or unimportant as to be not worth considering; insignificant.  </td>
    <td> negligible for maintance</td>
  </tr>
     <tr> 
    <td>  batch file </td>
    <td> a computer file containing a list of instructions to be carried out in turn.  </td>
    <td>  </td>
  </tr>
  <tr> 
    <td> verifying functionality in some topics  </td>
    <td>  rigorously evaluate on a range  </td>
    <td> multiple device </td>
  </tr>
     <tr> 
    <td>  did it heal for days </td>
    <td>   </td>
    <td>  </td>
  </tr>
     <tr> 
    <td> confusion of   </td>
    <td> lack of understanding; uncertainty  </td>
    <td> there seems to be some confusion about which system does what </td>
  </tr>
     <tr> 
    <td>  some resources that are not allocated  </td>
    <td>   </td>
    <td>  </td>
  </tr>
  <tr>
     <td>   optimal solution </td>
     <td> is a linear program is a feasible solution with the largest objective function value (for a maximization problem). </td>
  </tr>
  <tr>
    <td> eventually I have to fiure out how to fix it </td>
    <td>  </td>
  </tr>
  <tr>
    <td> Ideally we want </td>
    <td>  </td>
  </tr>
  <tr>
    <td> it dynamically pulls  out from data base   </td>
    <td>  </td>
  </tr>
  <tr>
    <td> that one is done for your ease of creatiion  </td>
    <td> chance are with compatiablity moode  </td>
  </tr>
   <tr>
    <td>  I have to dig in to dind hwere data comes from</td>
    <td>  conflicting styles maybe come up  minor updating </td>
  </tr>
   <tr>
    <td> in term of when I am going to , whatever you modified content type  </td>
    <td>  new fields if it is appleid if I planed to added mobile node  </td>
  </tr>
   <tr>
    <td>  the contents come to your mobile is unique </td>
    <td> they are assuring me </td>
  </tr>
   <tr>
    <td>  </td>
    <td>  </td>
  </tr>
    <tr>
    <td> alternative </td>
    <td>substitute, replacement,  </td>
    <td>   available as another possibility</td>
  </tr>

   <tr>
    <td> surpass </td>
    <td> exceed, be greater than </td>
    <td>   </td>
  </tr>

 <tr>
    <td>  the problem can be traced back </td>
    <td>  </td>
    <td>   </td>
  </tr>

   <tr>
    <td> Fetch  </td>
    <td>  go get bring in </td>
    <td> Retrieve, obtain, earn   </td>
  </tr>
   <tr>
    <td>  </td>
    <td>  </td>
    <td>   </td>
  </tr>

</table>





</html>