
<!DOCTYPE html>
 <script>
// $(window).load(function(){
//   while (1){
//   console.log("S_");
//      }
// });
 </script>



<html lang="en">
<head>
  <title>Words</title>
</head>

<h2 id="title"> Words </h2>

 <table class="table  table-hover  table-bordered " data-toggle="table">
   <tr> 
    <td>patch  </td>
    <td> a ​small ​computer ​program that can be ​added to an ​existing ​program in ​order to make the ​existing ​program ​work as it should  </td>
    <td> I ​downloaded a patch from ​their ​website  </td>
  </tr>

 
  <tr> 
  	<td>Nifty  </td>
  	<td> particularly good, skilful  </td>
  	<td>  </td>
  </tr>
  <tr> 
  	<td>goodies  </td>
  	<td>  attractive things </td>
  	<td> nifty goodies scss files  </td>
  </tr>
  <tr> 
  	<td> reduntdant </td>
  	<td>  not or no longer needed  </td>
  	<td> it is reduntant </td>
  </tr>
  <tr> 
  	<td> exclusive  </td>
  	<td>  restricted or limited to a person </td>
  	<td>  </td>
  </tr>
  <tr> 
  	<td>  Plunge </td>
  	<td> jump or dive quickly and energetically  </td>
  	<td>  </td>
  </tr>
   <tr> 
    <td>  API </td>
    <td>  application programming Interface </td>
    <td>  </td>
  </tr>
    <tr> 
    <td> CMS  </td>
    <td>  Content management system </td>
    <td>  </td>
  </tr>
    <tr> 
    <td>  implicit  </td>
    <td> implied though not plainly expressed </td>
    <td> comments seen as implicit criticism of the policies </td>
  </tr>
    <tr> 
    <td>  Threads </td>
    <td>  within a same process share address space. different process do not share address. so threads allow
    to read/write from each other and have easy communications with each other </td>
    <td>  </td>
  </tr>
    <tr> 
    <td>   Process</td>
    <td>   is an executing instance of an application </td>
    <td>  threads can do any thing that process can do</td>
  </tr>
    <tr> 
    <td> version 2.3.1  </td>
    <td>  2: major version number, 3: minor version number </td>
    <td>  1: revision number (fix bugs) </td>
  </tr>
    <tr> 
    <td> Auxiliary Server  </td>
    <td> foreign server  </td>
    <td>   like heroku </td>
  </tr>
     <tr> 
    <td> criteria  </td>
    <td>  a principle or standard by which something may be judged or decided </td>
    <td> the launch came too close to violating safety criteria </td>
  </tr>
     <tr> 
    <td>  negligible </td>
    <td> so small or unimportant as to be not worth considering; insignificant.  </td>
    <td> negligible for maintance</td>
  </tr>
     <tr> 
    <td>  batch file </td>
    <td> a computer file containing a list of instructions to be carried out in turn.  </td>
    <td>  </td>
  </tr>
  <tr> 
    <td> verifying functionality in some topics  </td>
    <td>  rigorously evaluate on a range  </td>
    <td> multiple device </td>
  </tr>
     <tr> 
    <td>  did it heal for days </td>
    <td>   </td>
    <td>  </td>
  </tr>
     <tr> 
    <td> confusion of   </td>
    <td> lack of understanding; uncertainty  </td>
    <td> there seems to be some confusion about which system does what </td>
  </tr>
     <tr> 
    <td>  some resources that are not allocated  </td>
    <td>   </td>
    <td>  </td>
  </tr>
  <tr>
     <td>   optimal solution </td>
     <td> is a linear program is a feasible solution with the largest objective function value (for a maximization problem). </td>
  </tr>
  <tr>
    <td> eventually I have to fiure out how to fix it </td>
    <td>  </td>
  </tr>
  <tr>
    <td> Ideally we want </td>
    <td>  </td>
  </tr>
  <tr>
    <td> it dynamically pulls  out from data base   </td>
    <td>  </td>
  </tr>
  <tr>
    <td> that one is done for your ease of creatiion  </td>
    <td> chance are with compatiablity moode  </td>
  </tr>
   <tr>
    <td>  I have to dig in to dind hwere data comes from</td>
    <td>  conflicting styles maybe come up  minor updating </td>
  </tr>
   <tr>
    <td> in term of when I am going to , whatever you modified content type  </td>
    <td>  new fields if it is appleid if I planed to added mobile node  </td>
  </tr>
   <tr>
    <td>  the contents come to your mobile is unique </td>
    <td> they are assuring me </td>
  </tr>
   <tr>
    <td>  </td>
    <td>  </td>
  </tr>
    <tr>
    <td> alternative </td>
    <td>substitute, replacement,  </td>
    <td>   available as another possibility</td>
  </tr>

   <tr>
    <td> surpass </td>
    <td> exceed, be greater than </td>
    <td>   </td>
  </tr>

 <tr>
    <td>  the problem can be traced back </td>
    <td>  </td>
    <td>   </td>
  </tr>

   <tr>
    <td> Fetch  </td>
    <td>  go get bring in </td>
    <td> Retrieve, obtain, earn   </td>
  </tr>
   <tr>
    <td>  </td>
    <td>  </td>
    <td>   </td>
  </tr>
   <tr>
    <td> Naming Convention </td>
    <td> Set of rules for choosing the character sequence to be used  </td>
     <td>  Using plural names for controllers is just a convention and a model is singular </td>
  </tr>

  <tr>
    <td> Intensifiers </td>
    <td> <b>Adverbs: </b> very, pretty, quite, rather, clearly, obviously, undoubtedly,
certainly, of course, indeed, inevitably, invariably,
always, literally </td>
    <td>  <b>Adjectives:</b> key, central, crucial, basic, fundamental, major, principal,
essential </td>
     <td> <b> Verbs:</b> show, prove, establish, as you/we/everyone knows/can
see, it is clear/obvious that </td>
  </tr>


  <tr>
    <td> Recruiter </td>
    <td>An individual who works to fill job openings in businesses or organizations.  </td>
    <td>   </td>
  </tr>
  <tr>
    <td>thrive  </td>
    <td>   grow or develop well or vigorously.</td>
    <td>  flourish, prosper, succeed, advance  </td>
  </tr>
    <tr>
    <td> Conjure </td>
    <td>  make (something) appear unexpectedly  </td>
    <td>   </td>
  </tr>
  <tr>
    <td> Replicate </td>
    <td>  Make an exact copy of </td>
    <td>   </td>
  </tr>
  <tr>
    <td> Compensation  </td>
    <td>something, typically money, awarded to someone as a recompense for loss, injury, or suffering.  </td>
    <td>   </td>
  </tr>
  <tr>
    <td> harmony </td>
    <td>  </td>
    <td>   </td>
  </tr>

  <tr>
    <td>  continual </td>
    <td>  frequent, repeated </td>
    <td>   </td>
  </tr>
    <tr>
    <td> veteran </td>
    <td> a person who has had long experience in a particular field. </td>
    <td>   Some veterans interviewed said they were protected from pressures by nurturing bosses or worked in relatively slow divisions.</td>
  </tr>
   <tr>
    <td>  erode </td>
    <td> gradually destroy or be gradually destroyed. </td>
    <td>   </td>
  </tr>
   <tr>
    <td>combust  </td>
    <td> be consumed by fire </td>
    <td>   I would see people practically combust.</td>
  </tr>
   <tr>
    <td>perpetual   </td>
    <td> never ending or changing </td>
    <td>  deep caves in perpetual darkness </td>
  </tr>
  
   <tr>
    <td> widget </td>
    <td>  a small gadget or mechanical device, especially one whose name is unknown or unspecified</td>
    <td> COMPUTING:
an application, or a component of an interface, that enables a user to perform a function or access a service  </td>
  </tr>
  
   <tr>
    <td> spectrum </td>
    <td> used to classify something, or suggest that it can be classified, in terms of its position on a scale </td>
    <td>  Assume you have reviewed the spectrum of source code management </td>
  </tr>
   <tr>
    <td> out·class </td>
    <td> be far superior to </td>
    <td>  Git outclasses SCM tools like Subversion, </td>
  </tr>
  <tr>
    <td>  encompass  :verb</td>
    <td>  include comprehensively, to form a circle about, encircle </td>
    <td> a work that encompasses the entire range of the  </td>
  </tr>
  <tr>
    <td>  entail </td>
    <td> involve something as a neccessay and inevitbale part of consequence </td>
    <td>   </td>
  </tr>
   <tr>
    <td>  induce </td>
    <td>  lead to </td>
    <td>   </td>
  </tr>
   <tr>
    <td> succint :adj</td>
    <td>  consice  </td>
    <td> use short, succinct sentences   </td>
  </tr>
    <tr>
    <td>  repetition</td>
    <td>  restated  </td>
    <td>   </td>
  </tr>
    <tr>
    <td>  </td>
    <td>  </td>
    <td>   </td>
  </tr>
</table>





</html>