
<!DOCTYPE html>
 
<html lang="en">
<head>
  <title>Words</title>
</head>



 <table class="table  table-hover  table-bordered " data-toggle="table">
  <tr> 
  	<td>Nifty  </td>
  	<td> particularly good, skilful  </td>
  	<td>  </td>
  </tr>
  <tr> 
  	<td>goodies  </td>
  	<td>  attractive things </td>
  	<td> nifty goodies scss files  </td>
  </tr>
  <tr> 
  	<td> reduntdant </td>
  	<td>  not or no longer needed  </td>
  	<td> it is reduntant </td>
  </tr>
  <tr> 
  	<td> exclusive  </td>
  	<td>  restricted or limited to a person </td>
  	<td>  </td>
  </tr>
  <tr> 
  	<td>  </td>
  	<td>   </td>
  	<td>  </td>
  </tr>
</table>





</html>