
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


<style>

  #leftnav

  {
    background-color: #e6e6e6;
    margin-left: 173px;
    position: absolute;
    color:black;
  }

</style>



<div class="class col-md-11" id="leftnav" > 

 <div  class= "class col-md-12"> 
  <h2 name="fourpilars"> Four Pilars </h2>
  <h4> Encapsulation </h4>
  <p> The act of grouping together data and behaviour into logical components. Attributes and/or behaviour can be encapsulated by a class.We want to group data and / or behaviours into logical components. 
   <div class="alert alert-info">Good design aims to achieve high cohesion </div>
   Cohesion is the degree to which components of a class belong together.To encapsulate also means “to surround and cover so that nothing else can touch it”.
   Access to attributes and/or behaviours can be restricted
   Information or details of implementation can be hidden
 </p>
 

  </div>


</div>




