


  div#right_nav 
		   {
           padding-right: 0px;
          }
  .col-md-10 
		 {
          margin-top: -3%;
         }
	#gra_2  
		 {
          margin-top: -22%;
         }
    td a 
      {
	font-size: 13px;
 
	}	