



  div#right_nav 
		   {
           padding-right: 5%;
          }
  .col-md-10 
		 {
          margin-top: 2%;
         }
	#gra_2  
		 {
          margin-top: -8%;
         }
    td a
	{
	font-size:110%;
	
	}	
 